# Each data point includes date/time, the type of boarding, bus and route number, and latitude/longitude where the boarding was recorded (note that around 8% of these were on buses with malfunctioning GPS antennae, and have the boarding coordinates recorded as 0,0). One note – you will see references to Routes 8 and 13 in the data. These routes do not have public timetables; these are extra buses to help service peak demand in certain areas of the City (primarily, the Union Street corridor between St. Lawrence College and Downtown).

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import gmplot

In [2]:
data=pd.read_excel("Data/Transit Data - October.xlsx")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704539 entries, 0 to 704538
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       704539 non-null  datetime64[ns]
 1   Time       704539 non-null  datetime64[ns]
 2   Class      704539 non-null  object
 3   Operation  704539 non-null  object
 4   Bus        704539 non-null  int64
 5   Route      704539 non-null  int64
 6   Latitude   704539 non-null  float64
 7   Longitude  704539 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 43.0+ MB

In [4]:
print(data.describe())

                 Bus          Route       Latitude      Longitude
count  704539.000000  704539.000000  704539.000000  704539.000000
mean     1241.137280     239.365809      40.941516     -70.604451
std       317.249714     288.489481      13.694826      21.473093
min       315.000000       1.000000       0.000000    -255.426092
25%      1047.000000       3.000000      44.224635     -76.526580
50%      1361.000000      15.000000      44.232833     -76.502100
75%      1480.000000     502.000000      44.248020     -76.486999
max      1689.000000     701.000000     255.426092       0.000000

In [5]:
data['Route'].unique()

array([ 17,   7, 701,  15, 501, 502,   1, 601,   4,   3,  11,   2,  12,
        16,  10,  18,  13,   6,  14,  20,   8])

In [6]:
data.dropna()

# data['Longitude'].dropna()
# data['Latitude'].dropna()

,Date,Time,Class,Operation,Bus,Route,Latitude,Longitude
0,2017-10-01,1900-01-01 01:43:03,QUEENS,Exact Fare,620,17,44.227860,-76.496938
1,2017-10-01,1900-01-01 01:43:08,QUEENS,Exact Fare,620,17,44.227860,-76.496938
2,2017-10-01,1900-01-01 01:58:13,ADULT,Pass (Multi-ride card),620,17,44.232035,-76.491397
3,2017-10-01,1900-01-01 01:58:25,QUEENS,Exact Fare,620,17,44.232035,-76.491397
4,2017-10-01,1900-01-01 01:58:27,QUEENS,Exact Fare,620,17,44.232035,-76.491397
...,...,...,...,...,...,...,...,...
704534,2017-10-01,1900-01-01 17:07:13,QUEENS,Exact Fare,1362,701,44.255135,-76.572517
704535,2017-10-01,1900-01-01 17:07:22,QUEENS,Exact Fare,1362,701,44.255135,-76.572517
704536,2017-10-01,1900-01-01 17:07:31,ST LAWRENCE,Exact Fare,1362,701,44.255135,-76.572517
704537,2017-10-01,1900-01-01 17:08:47,QUEENS,Exact Fare,1257,18,44.231425,-76.484333
704538,2017-10-01,1900-01-01 17:09:41,ADULT,Rides (Multi-ride card),1046,1,44.224327,-76.494960

In [7]:
bus_7 = data.loc[data['Route']==7]  
bus_7 = data.loc[data['Latitude']!=0]  
bus_7 = data.loc[data['Longitude']!=0]  
# plt.plot(bus_7['Latitude'],bus_7['Longitude'],".")
# plt.show()
position_list = bus_7[['Latitude','Longitude']] 

# print(position)

position = pd.DataFrame (position_list, columns = ['Latitude','Longitude'])
# latitude = [int(float(x)) for x in latitude]
# longitude = [int(float(x)) for x in longitude]
# print(latitude)
# print(longitude)
position.drop_duplicates()

         Latitude  Longitude
0       44.227860 -76.496938
2       44.232035 -76.491397
6       44.261297 -76.507313
7       44.227837 -76.497027
8       44.227317 -76.500192
...           ...        ...
704483  44.226888 -76.487940
704500  44.258218 -76.549277
704503  44.223675 -76.526350
704506  44.231213 -76.486145
704522  44.254913 -76.572975

[224985 rows x 2 columns]

In [8]:
# gmap = gmplot.GoogleMapPlotter.from_geocode( "Kingston, Canada" ,apikey='AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0')

# gmap = gmplot.GoogleMapPlotter(44,
#                                 -76, zoom = 13, apikey = 'AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0' )

gmap = gmplot.GoogleMapPlotter.from_geocode( "Kingston, Canada", zoom = 13, apikey ='AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0' )
  
gmap.draw( "map.html" )

In [9]:
# gmap.scatter(position['Latitude'], position['Longitude'], 'yellow',
#                               size = 15, marker = False)
# gmap.draw( "busmap.html" )
# Plot method Draw a line in
# between given coordinates
# gmap.plot(position['Latitude'], position['Longitude'], 
#            'red', edge_width = 2.5,apikey = 'AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0')
  
# gmap.draw( "busmap.html" )

In [10]:
bus_stops = pd.read_csv("data/transit-gtfs-stops.csv")
bus_stops.dropna()
bus_stops.drop_duplicates()
bus_stops

lat = []
lon = []
for row in bus_stops['Coordinates']:

    # Split the row by comma and append
    # everything before the comma to lat
    lat.append(row.split(',')[0])
    # Split the row by comma and append
    # everything after the comma to lon
    lon.append(row.split(',')[1])

In [11]:
gmap.scatter(lat, lon, 'red',
                              size = 50, marker = False, apikey = 'AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0' )

gmap.draw( "busstop.html" )

In [14]:
residence = pd.read_csv("Data/neighbourhoods.csv")
residence.dropna()
residence.drop_duplicates()

latitude = []
longitude = []
for row in residence['geo_point_2d']:

    # Split the row by comma and append
    # everything before the comma to lat
    latitude.append(row.split(',')[0])
    # Split the row by comma and append
    # everything after the comma to lon
    longitude.append(row.split(',')[1])

gmap.scatter(latitude, longitude, 'yellow',
                              size = 500, marker = False, apikey = 'AIzaSyDuTXaWuBFqdvOlMAkrVVLpQTqNc_QC7o0' )

gmap.draw( "residence.html" )